

body {
    color: #40514E ;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 562.5%;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p{
    line-height: 2;
}

hr{
    margin-top: 100px;
    margin-bottom: 100px;
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    border-width: 10px ;
    width: 4%;
}


.top-container {
    background-color: #E4F9F5;
    position: relative; 
    padding-top: 100px;
}

.middle-container {
    
}

.ozan-img {
    margin-top: 100px;
height: 200px;
}

.skill-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.pencil-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.fa-brands{
    font-size: 50px;
}

.bottom-container {
    margin-top: 50px;
    background-color: #66BFBF;
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer-link{
    color: #11999E; 
    margin-right: 5px;
}

.footer-link:hover{
    color: #EAF6F6;
}


.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.pro{
    text-decoration: underline;
}

.intro{
    width: 30%;
    margin: auto;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .contact-me-text{
      width: 30%;
      margin: 40px auto 60px;
  }

  .ozan{
      color: #EAF6F6;
  }
